@import "tailwindcss";
@import url(colors.css);


@theme {
  --font-logo: 'Leckerli One', sans-serif;
  --font-heading:'Baloo 2',sans-serif;
  --font-body:'Open Sans',sans-serif;



  --color-brand-light: #59B2FF;
  --color-brand-mid: #3487CF;
  --color-brand-dark: #1D6FB6;

  
  --color-purple: #B259FF;
  --color-fuschia: #FF59F9;
  --color-pink: #FF598B;
  --color-orange: #FF8B59;
  --color-yellow: #FFCD59;
  --color-lime: #E1FF59;
  --color-green: #59FF91;
  --color-cyan: #59FFF9;
  --color-navy: #6A59FF;


  --color-danger: #FF5959;


  --color-input-base: #1C1F21;
  --color-input-stroke: #363B40;
  --color-input-placeholder: #869198;


  --color-shape-background: #131516;
  --color-shape-body: #212427;
  --color-shape-button: #2D3136;
  --color-shape-hover: #383D42;
  --color-shape-input:#2D3136;


  --color-body: #C8CDD0;
  --color-heading: #F9F9F9;
}


fieldset{
  @apply grid border-none gap-6 m-0 p-0}


h3{
  @apply font-body font-normal text-[0.875rem] leading-[1.4] text-body mb-3;
}

input,textarea,select{

 
  @apply flex w-full shrink appearance-none rounded-lg border border-transparent outline outline-input-stroke p-3 px-4  bg-input-base font-body  font-normal text-base leading-[1.4] placeholder:text-input-placeholder; 
}

.radio-wrapper{
  @apply flex gap-2;
}


.input-radio {
  @apply cursor-pointer appearance-none bg-current w-10 h-10 m-0 border-4 border-shape-button rounded-full transition-all;


    @apply checked:outline-2  checked:outline-brand-light;

}

.party-image {
  @apply flex flex-col items-center bg-shape-button gap-2 border border-input-stroke rounded-lg p-1 cursor-pointer hover:border-brand-light hover:border-2 checked:border-brand-light hover:bg-shape-hover
}

.party-image img {
  @apply w-full object-cover rounded-lg mb-3;
}

.party-image h3 {
  @apply font-body font-normal text-sm leading-normal text-heading m-0 ;
}

.estilo-wrapper{
  @apply flex flex-col
}

input[type="file"]{
  @apply hidden
}

.light-text{
  @apply hidden
}


.dark-text {
  @apply inline; 
}

#theme-switch:checked ~ .theme-text .dark-text{
  @apply hidden
}

#theme-switch:checked ~ .theme-text .light-text{
  @apply inline
}

.switch-wrapper{
  @apply flex items-center gap-3;

  span{
    @apply text-heading font-body font-normal text-base;
  }
}

#theme-switch{
  @apply hidden
}

.switch{
  @apply relative w-16 h-8 bg-input-base border border-input-stroke rounded-full cursor-pointer 
}

.switch .slider{
  @apply absolute top-[3px] left-[3px] bg-input-stroke w-6 h-6 rounded-full transition-transform duration-300 ease-in-out

}

#theme-switch:checked + .switch{
  @apply bg-brand-light
}

#theme-switch:checked + .switch .slider{
  @apply translate-x-8 text-heading
}

.terms{
  @apply flex gap-3 items-start;

  label{
    @apply font-body text-sm font-normal;
    

    span{
      @apply font-body text-sm font-bold text-brand-light; 
    }
  }
}

.checkbox{
  @apply relative;

  & input[type="checkbox"]{
    @apply appearance-none absolute opacity-0 inset-0 m-0 p-0 cursor-pointer;
  }

  .checkbox-image {
    @apply shrink-0 w-5 h-5 bg-[url(/assets/icons/box-default.svg)] bg-contain bg-no-repeat;
  }


  &:has(:checked) .checkbox-image {
    @apply bg-[url(/assets/icons/box-hover.svg)];
  }
}

.terms-text{
  @apply text-body font-body text-sm font-normal;
}


