@import "tailwindcss";


@theme {
  --font-logo: 'Leckerli One', sans-serif;
  --font-heading:'Baloo 2',sans-serif;
  --font-body:'Open Sans',sans-serif;



  --color-brand-light: #59B2FF;
  --color-brand-mid: #3487CF;
  --color-brand-dark: #1D6FB6;

  /* Accent Colors */
  --color-purple: #B259FF;
  --color-fuschia: #FF59F9;
  --color-pink: #FF598B;
  --color-orange: #FF8B59;
  --color-yellow: #FFCD59;
  --color-lime: #E1FF59;
  --color-green: #59FF91;
  --color-cyan: #59FFF9;
  --color-navy: #6A59FF;

  /* Feedback */
  --color-danger: #FF5959;

  /* Input */
  --color-input-base: #1C1F21;
  --color-input-stroke: #363B40;
  --color-input-placeholder: #869198;

  /* Shape */
  --color-shape-background: #131516;
  --color-shape-body: #212427;
  --color-shape-button: #2D3136;
  --color-shape-hover: #383D42;

  /* Text */
  --color-text-body: #C8CDD0;
  --color-text-heading: #F9F9F9;
}


fieldset{
  @apply grid border-none gap-6 m-0 p-0}


h3{
  @apply font-body font-normal text-[0.875rem] leading-[1.4] text-text-body mb-3;
}

input,textarea,select{

 
  @apply flex w-full shrink appearance-none;


  border-radius: 0.5rem;
  border: 1px solid transparent;
  outline: 1px solid var(--color-input-stroke);
  padding: 0.75rem 1rem;
  color: var(--color-input-stroke);
  background-color: var(--color-input-base);
  font: var(--font-body);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4;
}
